*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-bg: #8276C8;
  --support-bg: #261C6C;
  --primary-text: #E1EBFE;
  --transparent-bg: rgba(224, 228, 228, 0.7);
  --white: #fff;
  --black: #222;
  --red: #F72229;
  --green: #008000;
}

span { display: inline-block; }
li { list-style: none; }
textarea { resize: none; }

input,
textarea,
button {
  border: none;
  outline: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 45px 5%;
  overflow: hidden;
  background-color: var(--primary-bg);
}

.section-heading {
  color: var(--primary-text);
  cursor: default;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px -1px 5px var(--support-bg);
  text-transform: capitalize;
  transition: all .3s;
}

.todo-form {
  margin: 30px 0 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-form .input-group {
  width: 44.3%;
  margin-right: 17px;
}

.todo-input {
  width: 100%;
  padding: 9px 15px;
  border-radius: 5px;
  background-color: var(--primary-text);
  font-size: 15px;
  font-weight: 600;
}

.todo-input:focus { outline: 2px solid var(--support-bg); }

.form-button {
  width: 51px;
  height: 51px;
  border: 2px solid var(--primary-text);
  border-radius: 50%;
  background-color: var(--support-bg);
  box-shadow: 2px 4px 10px var(--support-bg);
  color: var(--primary-text);
  cursor: pointer;
  font-size: 36px;
  transition: all .3s;
}

.task-status-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-status-control > * {
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 14px;
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  font-size: 15px;
  text-transform: capitalize;
  transition: all .3s;
}

.task-status-control > *:last-child { margin-right: 0; }

.task-status-control > *.active {
  background-color: var(--support-bg);
  color: var(--primary-text);
}

.todo-items-all {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.todo-item {
  max-width: 288px;
  width: 288px;
  max-height: 128px;
  height: 128px;
  padding: 15px 15px 24px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  animation: slide .7s ease-in-out forwards;
  background-color: rgba(224, 228, 228, 0.7);
  flex-grow: 1;
  flex-shrink: 0;
  text-align: left;
  transition: all .3s;
}

@keyframes slide {
  0% { left: 100%; }
  70% { left: -5%; }
  100% { left: 0; }
}

.completed-flag {
  padding: 5px 17px;
  border: 2px solid var(--support-bg);
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-size: 13px;
}

.form-todo-update {
  max-height: 66px;
  height: 66px;
  overflow: hidden;
}

.form-todo-update > * {
  height: 100%;
  color: var(--support-bg);
  font-size: 15px;
  font-weight: 600;
}
.input-textarea { display: none; }

.textarea {
  width: 100%;
  height: 100%;
  padding: 7px;
  border: 2px solid transparent;
  border-radius: 10px;
  display: block;
  overflow-y: auto;
  background-color: var(--primary-text);
  color: var(--support-bg);
  font-weight: 600;
  scrollbar-width: thin;
}

.textarea:focus { border-color: var(--black); }
.input-textarea > *::-webkit-scrollbar { width: 8px; }

.input-textarea > *::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--black);
}

.input-textarea > *::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: inset 0 0 0 2px var(--black);
}

.textarea-para {
  padding: 7px;
  color: var(--support-bg);
}

.todo-item.active .input-textarea { display: block; }
.todo-item.active .textarea-para { display: none; }

.todo-items-control {
  display: flex;
  justify-content: flex-end;
}

.todo-items-control > * {
  width: 24px;
  height: 24px;
  margin: 0 9px;
  cursor: pointer;
  transition: all .3s;
}

.delete-btn > * { stroke: var(--red); }
.complete-btn > * { stroke: var(--green); }
.edit-btn > * { stroke: var(--support-bg); }


/* media query stats here */
@media only screen and (min-width: 1024px) {
  .section-heading:hover,
  .form-button:hover,
  .task-status-control > *:hover,
  .todo-items-control > *:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .todo-form .input-group { width: 100%; }
}